body{
	background-image: url("images/snowboarder.jpg");
	background-size:cover;
	font-family: "Helvetica neue", "Helvetica", "sans-serif", "Arial";


}

#navigationBar{
	background-color : whitesmoke;
	position: fixed;
	top: 0px;
	left: 0px;
	width:100%;
	height: 50px;
}

#teamNumber{
	position:fixed;
	z-index: 10;
	color:white;
	top:10px;
	left:10px;
	font-family: "Helvetica neue thin", "sans-serif", "Arial";
	font-weight: 500;
	font-size:30px;
}

#options{
	top:17px;
	left:0px;
	float: left;
}

#home{
	float: left;
	padding-right: 20px;
	color:white;
	font-size:18px;
}

#overview{
	float: left;
	padding-right: 20px;
	color:white;
	font-size:18px;
}


/*_____________NAVBAR_______________*/
#nav {
    position:fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	margin:0;
    padding:0;
    text-align:center;
	float: left;
	z-index: 1;
    list-style: none;
    background-color: black;
}
#nav li {
    display: inline-block 
}
#nav li a {
    display: inline-block;
    padding: 15px 15px;
    text-decoration: none;
    font-weight: lighter;
	font-size: 20px;
    color: whitesmoke;
}
#nav li a:hover {
    color: rgba(71, 155, 144, 1);
    background-color: #fff;
}


/*_____________HOME PAGE_____________*/
#homeBox{
	background-color:white;
	opacity:.7;
	position:relative;
	top:80px;
	width:85%;
	border-radius:15px;
}
#projectTitle{
	position:relative;
	top:20px;
	left:50px;
	font-size:40px;
}

#description{
	position:relative;
	top:20px;
	left:10%;
	font-size:28px;
	font-weight: lighter;
	padding-bottom: 30px;
}

#imageCredit{
	position:fixed;
	bottom:5px;
	left :5px;
	font-size:5px;
	font-weight:lighter;
}



/*________________TEAM PAGE_______________*/
#team{
	float: left;
	padding: 15px;
	width: 20%;
	display: inline-block;
	margin: auto;
}

#pic{
	margin: 0 auto;
	width: 100%;
}

.pic{
	position: relative;
	display: table;
	border-radius:15px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#name{
	position: relative;
	font-weight: bold;
	font-size: 20px;
	padding-top: .5em;
	padding-bottom: .5em;
	text-align: center;
}

#title{
	text-align: center;
	font-weight: 200;
	color: rgba(71, 155, 144, 1);
}

#about{
	font-weight: normal;
	padding-top: 2em;
	padding-bottom: 1em;
	text-align: center;
}

#teamBox{
	background-color: rgba(255,255,255, .9);
	position:relative;
	margin: 0 auto;
	top:80px;
	width:85%;
	padding: 20px;
	border-radius:15px;
	height: 550px;
}

#advisor{
	background-color: rgba(255,255,255, .9);
	position:relative;
	top:80px;
	width:85%;
	border-radius:15px;
	height: 100px;
	padding: 20px;
	margin: 20px auto;
	margin-bottom: 50px;
}



/*_____________DOCUMENTS PAGE_____________*/
#docBox{
	background-color: rgba(255,255,255, .9);
	position: relative;
	margin: 0 auto;
	top:80px;
	width:85%;
	padding: 20px;
	border-radius:15px;
	height: 350px;
}

#document{
	position: inherit;
	float: left;
	padding: 10px;
	width: 22.5%;
}
